@charset "UTF-8";

body{
    background-color: rgb(167, 167, 167);
    font-family: Arial, Helvetica, sans-serif;
}

div#principal{
    width: 900px;
    margin: -20px auto 0px auto;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px black;
    background-color: white;
}

div#principal h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35pt;
}

div#principal h2{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 20pt;
}

div#principal h1{
    color: rgb(95, 95, 95)
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}
header#cabeca{
    border-bottom: 3px #606060 solid;
}



table#tabela{
    border: 2px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabela td{
    border: 1px solid #3f3e3e;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

table#tabela td.cd{
    background-color: #cecece;
}

table#tabela td.ce{
    color: white;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}

table#tabela caption{
    color: black;
    font-size: 16pt;
    font-weight: bold;
}


section#corpo p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.5pt;
}

section#corpo h2.formatar{
    padding: 5px auto 5px 10px;
    background-color: #dddddd;
    
}

footer#rodape{
    clear: both;
    border-top: 3px solid #606060;
}
footer#rodape p{
    text-align: center;
}

/* configuração do menu lateral*/
img#menu{
    float: left;
    margin-top: -1420px; /* -30px e -100px*/
}
div#home{
    float: left;
    margin-top: -210px;
}
#check{
    display: none;
}
#icone{
    cursor: pointer;
    padding: -100px;
    position: absolute;
    z-index: 1;
}
.barra{
    background-color: #333;
    height: 100%;
    width: 300px;
    position: absolute;
    transition: all .2s linear;
    left: -300px;
    margin-top: -1320px;
    
}
nav{
    width: 100%;
    position: absolute;
   
}
nav a{
    text-decoration: none;
}
.link{
    background-color: #494950;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    transition: all .2s linear;
    color: #f4f4f9;
    border-bottom: 2px solid #222;
    opacity: 0;
    margin-top: 200px;
}
.link:hover{
    background-color: #050542;
}

#check:checked ~ .barra{
    transform: translateX(300px);
}

#check:checked ~ .barra nav a .link{
    opacity: 1;
    margin-top: 0;
    transition-delay: 0.2s;
}
/* fim da formatação do menu*/

